<div  class="header row px-4">
  <div class="col " style="display: flex">
    <div class="me-4">
      <img
        width="70px"
        class="logo"
        src="../../../../assets/images/header/book-logo.png"
        alt=""
      />
    </div>
    <div style="display: flex; justify-content: center; align-items: center; margin-top: 1rem;">
      <h5>SOLD OLD BOOK</h5>
    </div>
  </div>

  <div style="display: flex; justify-content: flex-end; align-items: center;" class="col">
    <div class="me-2">
        <i class="bi bi-bell-fill fs-4"></i>
    </div>
    
    <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="hover">
       
        
        <!-- <nz-icon nzType="user"></nz-icon> -->

        <i class="bi bi-person-fill fs-4"></i>

            <!-- <nz-icon nzType="user" nzTheme="outline" /> -->
       
            <span style="position: relative; bottom: 2px;">
            <nz-icon nzType="down"></nz-icon>
            </span>
     
  
    </a>


  </div>


</div>




<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
    
      <li [routerLink]="['/management/profile']" nz-menu-item > <span class="text-dark"> <i class="bi bi-person-circle"></i> </span> Profile</li>

      <li  [routerLink]="['']" nz-menu-item nzDanger> <span class="text-danger"><i class="bi bi-box-arrow-right"></i></span> Logout</li>
    </ul>
  </nz-dropdown-menu>