<ul nz-menu nzMode="inline">
  <li
    nz-menu-item
    nz-tooltip
    nzTooltipPlacement="right"
    [routerLink]="['/user/dashboard']"
    routerLinkActive="ant-menu-item-selected"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <nz-icon nzType="dashboard"></nz-icon>
    <span>Dashboard</span>
  </li>

  <li
    nz-menu-item
    nz-tooltip
    nzTooltipPlacement="right"
    [routerLink]="['/management/my-books']"
    routerLinkActive="ant-menu-item-selected"
  >
    <nz-icon nzType="book"></nz-icon>
    <span>My Books</span>
  </li>

  <li
  nz-menu-item
  nz-tooltip
  nzTooltipPlacement="right"
  [routerLink]="['/management/category']"
  routerLinkActive="ant-menu-item-selected"
>
  <nz-icon nzType="insert-row-left"></nz-icon>
  <span>Category</span>
</li>

<li
  nz-menu-item
  nz-tooltip
  nzTooltipPlacement="right"
  [routerLink]="['/management/request/outgoing']"
  routerLinkActive="ant-menu-item-selected"
>
  <nz-icon nzType="double-right"></nz-icon>
  <span>Outgoing Request</span>
</li>

<li
  nz-menu-item
  nz-tooltip
  nzTooltipPlacement="double-left"
  [routerLink]="['/management/request/incoming']"
  routerLinkActive="ant-menu-item-selected"
>
  <nz-icon nzType="double-left"></nz-icon>
  <span>Incomming Request</span>
</li>

<li
  nz-menu-item
  nz-tooltip
  nzTooltipPlacement="double-left"
  [routerLink]="['/management/connections']"
  routerLinkActive="ant-menu-item-selected"
>
  <nz-icon nzType="link"></nz-icon>
  <span>Connections</span>
</li>

</ul>
